html {
	font-family: 'Comfortaa', sans-serif;
}

.flying-girl {
	background-image: url('../imgs/girl-flying.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.alps{
  background-image: url(/static/imgs/planes-flying.jpg);
}
::-webkit-scrollbar {
  display: none;
}

a:hover {
    scale: 1.05;
	transition: scale .1s ease-in-out;
}


.text-stroke {
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 1px 1px 0 black;
}
.wavy {
	background-color: #222831;
	opacity: 1;
	background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #222831 24px ), repeating-linear-gradient( #00ADB555, #00ADB5 );
}


.date::-webkit-calendar-picker-indicator {
    color: #EEEEEE;
}