{% extends  'base.html' %}
{% block title %}Home{% endblock %}

{% block body %}
<section class="h-screen flying-girl flex justify-center flex-col text-center font-sans gap-16">
	<div>
		<p class="font-bold text-white text-7xl">SOAR FOR LESS</p>
		<span class="text-proj-white">START TRAVELLING THE WORLD WITH ABSURD PRICES</span>
	</div>
	<span>
		<button class="font-bold bg-proj-blue w-30 p-2 px-10 rounded-lg text-white">Book a shawarma</button>
	</span>
</section>
<section class="h-screen bg-proj-white">
	
</section>
{% endblock %}
